.contactUsContent{
  padding-left: 30%;
  padding-right: 30%;
}

.contactUsTitle{
  color: #713F7E;
  padding-bottom: 2%;
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
}

.contactUsTitle::after,
.contactUsTitle::before{
  display: inline-block;
  content: "";
  border-top: .1rem solid #713F7E;
  width:25%;
  margin: 0 1rem;
  transform: translateY(-1rem);
}

.belowContactUsForm{
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1px;
  font-family: josefinSans;
  color: #727272;
}
.boldContactUsText {
  font-family: boldSans;
  color: black;
  font-size: 2.25rem;
  text-align: center;
}

.contactUsFormContainer input,
.contactUsFormContainer textarea{
  width: 100%;
  padding: 1%;
  margin-bottom: 2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.sendInquiryButtonContainer{
  width: 35%;
  display: block;
  margin: auto;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1px;
}

.sendInquiryButtonContainer button{
  background-color: #713F7E;
  font-family: josefinSans;
  border-radius: 32px;
  border-color: #713F7E;
  width: 100%;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .contactUsContent{
    padding-left: 5%;
    padding-right: 5%;
  }

  .contactUsTitle{
    color: #713F7E;
    padding-bottom: 2%;
    width: 100%;
    font-size: 1.75rem;
  }

  .contactUsTitle::after,
  .contactUsTitle::before{
    display: inline-block;
    content: "";
    border-top: .08rem solid #713F7E;
    width:15%;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }

  .belowContactUsForm{
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 1px;
    font-family: josefinSans;
    color: #727272;
  }
  .boldContactUsText {
    font-family: boldSans;
    color: black;
    font-size: 1.5rem;
    text-align: center;
  }

  .sendInquiryButtonContainer{
    width: 100%;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .sendInquiryButtonContainer button{
    line-height: 1.3rem;
    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1022px) {
  .contactUsTitle{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1022px) {
  .contactUsContent{
    padding-left: 5%;
    padding-right: 5%;
  }

  .contactUsTitle{
    color: #713F7E;
    padding-bottom: 2%;
    width: 100%;
    font-size: 2rem;
  }

  .contactUsTitle::after,
  .contactUsTitle::before{
    display: inline-block;
    content: "";
    border-top: .08rem solid #713F7E;
    width:25%;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
  }

  .belowContactUsForm{
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 1px;
    font-family: josefinSans;
    color: #727272;
  }
  .boldContactUsText {
    font-family: boldSans;
    color: black;
    font-size: 1.5rem;
    text-align: center;
  }

  .sendInquiryButtonContainer{
    width: 47%;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .sendInquiryButtonContainer button{
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 2200px) {
  .contactUsTitle{
    font-size: 2.5rem;
  }

  .contactUsTitle::after,
  .contactUsTitle::before{
    transform: translateY(-0.75rem);
  }

  .sendInquiryButtonContainer{
    width: 70%;
    font-size: 1.25rem;
    line-height: 1.65rem;
  }

  .sendInquiryButtonContainer button{
    font-size: 1.25rem;
    line-height: 1.65rem;
  }

  .belowContactUsForm{
    font-size: 1.25rem;
    line-height: 1.65rem;
    letter-spacing: 1px;
    font-family: josefinSans;
    color: #727272;
  }
  .boldContactUsText {
    font-family: boldSans;
    color: black;
    font-size: 1.5rem;
    text-align: center;
  }
}
