.destinationsContainer{
  font-family: josefinSans;
  color: #727272;
}

.requirementsContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.requirement {
  width: 27%;
  flex-basis: 27%;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5%;
}

.mexico {
  order: 1;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./imgs/Mexico.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.mexicoRequirementContent{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dominicanRepublic{
  order: 2;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./imgs/dominicanRepublic.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.dominicanRequirementContent{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.jamaica{
  order: 3;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./imgs/jamaica.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.jamaicaRequirementContent{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.requirementBody{
  font-size: 1.5rem;
  line-height: 2rem;
}

.requirementBody a{
  text-decoration: none;;
  color: #fff;
}

.requirementBody ul{
  text-align: left;
}

.weddingRequirementsTitle{
  font-size: 2rem;
  font-family: boldSans;
}

.requirementCountryName {
  font-size: 3rem;
  font-family: boldSans;
  line-height: 3rem;
}

.requirementsSubtitle{
  font-family: boldSans;
}

.locationsContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.location{
  padding-top: 3%;
  width: 27%;
  flex-basis: 27%;
}

.location img{
  width: 70%;
}

.locationHeading{
  padding-bottom: 3%;
  font-size: 2.25rem;
  color: black;
  font-family: boldSans;
}

.citiesIncountries{
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: josefinSans;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2rem;
}

.listOfCities{
  padding-left: 10%;
  line-height: 2rem;
  font-size: 1.5rem;
  text-align: left;
}

.mexicoFlag{
  order: 1;
}

.dominicanRepublicFlag{
  order: 2;
}

.jamaicaFlag{
  order: 3;
}

.bookingContainer{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./imgs/destinationsFooters.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding-left: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 25%;
  display: flex;
}

.bookingTextContainer{
  font-family: myFont;
  font-size: 3rem;
  width: 50%;
  display: block;
  margin: auto;
}

.bookingContactUsButtonContainer {
  width: 27%;
  display: block;
  margin: auto;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.bookingContactUsButton{
  background-color: #713F7E;
  font-family: josefinSans;
  border-radius: 32px;
  width: 100%;
  display: block;
  margin: auto;
}

/*1 column for mobile*/
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .requirement {
    width: 100%;
    flex-basis: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 6%;
  }

  .location{
    width: 100%;
    flex-basis: 100%;
  }

  .weddingRequirementsTitle{
    font-size: 1.5rem;
    font-family: boldSans;
  }

  .requirementCountryName {
    font-size: 1.5rem;
    font-family: boldSans;
    line-height: 1.5rem;
  }

  .listOfCities {
    line-height: 1.3rem;
    font-size: 1rem;
  }

  .requirementBody{
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .mexicoRequirementContent{
    padding-bottom: 10%;
    padding-top: 5%;
    font-size: 1.25rem;
  }

  .dominicanRequirementContent{
    padding-bottom: 10%;
    padding-top: 5%;
    font-size: 1.25rem;
  }

  .jamaicaRequirementContent{
    padding-bottom: 10%;
    padding-top: 5%;
    font-size: 1.25rem;
  }

  .locationHeading{
    font-size: 1.5rem;
    padding-top: 5%;
  }

  .citiesIncountries{
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 2%;
  }

  .location img{
    width: 90%;
  }

  .bookingTextContainer{
    font-family: myFont;
    font-size: 1.75rem;
    width: 100%;
    display: block;
    margin: auto;
    padding-left: 25%;
    padding-right: 25%;
  }

  .bookingContainer{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./imgs/destinationsFooters.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-right: 5%;
    display: block;
    text-align: center;
  }

  .bookingContactUsButtonContainer {
    width: 100%;
    display: block;
    margin: auto;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .bookingContactUsButton{
    background-color: #713F7E;
    font-family: josefinSans;
    border-radius: 32px;
    width: 100%;
    display: block;
    margin: auto;
  }
}

/*adjust for flag size and font sizes for tablet*/
@media only screen and (min-width: 601px) and (max-width: 1022px) {
  .requirement {
    width: 100%;
    flex-basis: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 6%;
  }

  .location{
    width: 100%;
    flex-basis: 100%;
  }

  .weddingRequirementsTitle{
    font-size: 1.5rem;
    font-family: boldSans;
  }

  .requirementCountryName {
    font-size: 1.5rem;
    font-family: boldSans;
    line-height: 1.5rem;
  }

  .requirementBody{
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 2rem;
  }

  .mexicoRequirementContent{
    padding-bottom: 10%;
    padding-top: 5%;
    font-size: 1.25rem;
  }

  .dominicanRequirementContent{
    padding-bottom: 10%;
    padding-top: 5%;
    font-size: 1.25rem;
  }

  .jamaicaRequirementContent{
    padding-bottom: 10%;
    padding-top: 5%;
    font-size: 1.25rem;
  }

  .locationHeading{
    font-size: 1.5rem;
    padding-top: 0;
  }

  .citiesIncountries{
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 2%;
  }

  .listOfCities{
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .location img{
    width: 70%;
  }

  .bookingTextContainer{
    font-family: myFont;
    font-size: 2rem;
    width: 100%;
    display: block;
    margin: auto;
    padding-left: 25%;
    padding-right: 25%;
  }

  .bookingContainer{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./imgs/destinationsFooters.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-right: 5%;
    display: block;
    text-align: center;
  }

  .bookingContactUsButtonContainer {
    width: 45%;
    display: block;
    margin: auto;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .bookingContactUsButton{
    background-color: #713F7E;
    font-family: josefinSans;
    border-radius: 32px;
    width: 100%;
    display: block;
    margin: auto;
  }
}

/*switch over to 3 columns*/
@media only screen and (min-width: 1023px) and (max-width: 2200px) {

  .weddingRequirementsTitle{
    font-size: 1.25rem;
    font-family: boldSans;
  }

  .requirementCountryName {
    font-size: 1.5rem;
    font-family: boldSans;
    line-height: 1.5rem;
  }

  .requirementBody{
    font-size: 1.25rem;
    line-height: 1.65rem;
  }

  .mexicoRequirementContent{
    padding-bottom: 10%;
    padding-top: 5%;
    font-size: 1.25rem;
  }

  .dominicanRequirementContent{
    padding-bottom: 10%;
    padding-top: 5%;
    font-size: 1.25rem;
  }

  .jamaicaRequirementContent{
    padding-bottom: 10%;
    padding-top: 5%;
    font-size: 1.25rem;
  }

  .locationHeading{
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 5%;
  }

  .citiesIncountries{
    font-size: 1.25rem;
    line-height: 1.65rem;
    padding: 2%;
  }

  .listOfCities{
    font-size: 1.25rem;
    line-height: 1.65rem;
  }

  .location img{
    width: 50%;
  }

  .bookingContainer{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./imgs/destinationsFooters.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 25%;
    display: flex;
  }

  .bookingTextContainer{
    font-family: myFont;
    font-size: 2.5rem;
    width: 50%;
    display: block;
    margin: auto;
  }

  .bookingContactUsButtonContainer {
    width: 60%;
    display: block;
    margin: auto;
    font-size: 1.25rem;
    line-height: 1.65rem;
  }

  .bookingContactUsButton{
    background-color: #713F7E;
    font-family: josefinSans;
    border-radius: 32px;
    width: 100%;
    display: block;
    margin: auto;
  }

}
